* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    overflow-y: hidden;
}

header, footer {
    color: white;
    background-color: royalblue;
    display: flex;
    padding: 10px;
}

header:first-child {
    text-decoration: underline 2px;
}

#logout_btn {
    position: absolute;
    right: 5%;
    top: 15px;
    background-color: royalblue;
    color: white;
    border: 1px solid royalblue;
    padding: 5px;
    transition: 0.2s;
}

#logout_btn:hover {
    border-color: white;
    transition: 0.2s;
}

#logout_btn:active {
    background-color: rgb(15, 52, 165);
}

footer {
    width: calc(100% - 20px);
    height: 20px;
    position: absolute;
    bottom: 0;
}

.hided {
    display: none;
}

.showed {
    display: block;
}

main {
    position: relative;
    padding: 20px;
}

.url_form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 98px);
    z-index: 200;
    background-color: rgba(128, 128, 128, 0.39);
}

.url_form_card {
    background-color: white;
    width: 300px;
    padding: 10px;
    position: absolute;
    left: calc(50% - 155px);
    top: calc(50% - 80px);
    border: 1px solid royalblue;
    z-index: 400;
}

#close_url_form {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    color: red;
    border: 1px solid red;
    transition: 0.2s;
    padding: 5px 7px;
}

#close_url_form:hover {
    background-color: red;
    color: white;
    border-color: red;
    transition: 0.2s;
}

#close_url_form:active {
    background-color: rgb(141, 10, 10);
    border-color: rgb(141, 10, 10);
}

.url_form form {
    margin-top: 33px;
}

.url_form form input {
    padding: 5px;
}

.url_form form input[type="text"] {
    width: calc(100% - 15px);
}

.url_form form input[type="button"] {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    color: royalblue;
    border: 1px solid royalblue;
    transition: 0.2s;
}

.url_form form input[type="button"]:hover {
    background-color: royalblue;
    color: white;
    border-color: royalblue;
    transition: 0.2s;
}

.url_form form input[type="button"]:active {
    background-color: rgb(21, 53, 148);
    border-color: rgb(21, 53, 148);
}

.url_form form p {
    margin-top: 8px;
    color: gray;
    font-size: 9pt;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 95px);
}

.container form {
    background-color: white;
    width: 300px;
    padding: 20px;
    position: absolute;
    left: calc(50% - 170px);
    top: calc(50% - 80px);
    border: 1px solid royalblue;
}

.container form input {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

.container form div {
    margin-bottom: 20px;
}

.password_field {
    position: relative;
}

.password_field i {
    position: absolute;
    right: 10px;
    color: blue;
    border-radius: 50%;
    transition: 0.2s;
    padding: 6px;
}

.password_field i:hover {
    background-color: rgba(159, 159, 255, 0.685);
    transition: 0.2s;
}

#add_backend_btn {
    padding: 6px;
}

.container form input[type="submit"], #add_backend_btn {
    background-color: royalblue;
    color: white;
    border: 1px solid royalblue;
    font-size: 0.93em;
    transition: 0.2s;
}

.container form input[type="submit"]:hover, #add_backend_btn:hover {
    background-color: white;
    color: royalblue;
    transition: 0.2s;
}

.container form input[type="submit"]:active, #add_backend_btn:active {
    border-color: rgb(37, 37, 255);
    color: rgb(37, 37, 255);
}

.error_div {
    border: 1px solid red;
    background-color: rgb(255, 168, 168);
    color: rgb(151, 30, 30);
    padding: 10px;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.error_div li {
    list-style: inside;
}

.gen_status {
    margin: 10px;
    display: flex;
}

.gen_status div {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.backends {
    height: calc(100vh - 215px);
    overflow-y: auto;
}

.backends > div {
    display: flex;
    border-bottom: 1px solid royalblue;
    padding: 10px;
}

.backends > div > span {
    width: 100%;
}

.backends > div > button {
    background-color: red;
    color: white;
    border: 1px solid red;
    padding: 2px 15px;
}

.backends > div > button:hover {
    background-color: white;
    color: red;
}

.backends > div > button:active {
    border-color: rgb(141, 10, 10);
    color: rgb(141, 10, 10);
}