* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, footer {
    color: white;
    background-color: royalblue;
    display: flex;
    padding: 10px;
}

header:first-child {
    text-decoration: underline 2px;
}

#logout_btn {
    position: absolute;
    right: 5%;
    top: 15px;
    background-color: royalblue;
    color: white;
    border: 1px solid royalblue;
    padding: 5px;
    transition: 0.2s;
}

#logout_btn:hover {
    border-color: white;
    transition: 0.2s;
}

#logout_btn:active {
    background-color: rgb(15, 52, 165);
}

footer {
    width: calc(100% - 20px);
    height: 20px;
    position: absolute;
    bottom: 0;
}

.hided {
    display: none;
}

.showed {
    display: block;
}

main {
    position: relative;
}

.url_form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 95px);
    z-index: 200;
    background-color: rgba(128, 128, 128, 0.39);
}

.url_form_card {
    background-color: white;
    width: 300px;
    padding: 10px;
    position: absolute;
    left: calc(50% - 155px);
    top: calc(50% - 80px);
    border: 1px solid royalblue;
    z-index: 400;
}

#close_url_form {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    color: royalblue;
    border: 1px solid royalblue;
    transition: 0.2s;
    padding: 5px 7px;
}

#close_url_form:hover {
    background-color: royalblue;
    color: white;
    border-color: royalblue;
    transition: 0.2s;
}

#close_url_form:active {
    background-color: rgb(21, 53, 148);
    border-color: rgb(21, 53, 148);
}

.url_form form {
    margin-top: 33px;
}

.url_form form input {
    padding: 5px;
}

.url_form form input[type="text"] {
    width: calc(100% - 15px);
}

.url_form form input[type="button"] {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    color: royalblue;
    border: 1px solid royalblue;
    transition: 0.2s;
}

.url_form form input[type="button"]:hover {
    background-color: royalblue;
    color: white;
    border-color: royalblue;
    transition: 0.2s;
}

.url_form form input[type="button"]:active {
    background-color: rgb(21, 53, 148);
    border-color: rgb(21, 53, 148);
}

.err_text {
    color: red;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 95px);
}

.container form {
    background-color: white;
    width: 300px;
    padding: 20px;
    position: absolute;
    left: calc(50% - 170px);
    top: calc(50% - 80px);
    border: 1px solid royalblue;
}

.container form input {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

.container form div {
    margin-bottom: 20px;
}

.password_field {
    position: relative;
}

.password_field i {
    position: absolute;
    right: 10px;
}